httpx
beautifulsoup4
pycryptodome
Pillow
natsort
opencc-python-reimplemented
zhconv
pandas
EbookLib
lxml
tqdm
requests
pypinyin
browser-cookie3
markdown2
numpy
pikepdf
six
py7zr
selenium
fastapi
uvicorn[standard]
python-multipart
pywebview
pydantic
aiofiles